<div class="login-page">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <h1>Prijava</h1>

      <div class="form-group">
        <label for="username">Korisničko ime</label>
        <input type="text" id="username" formControlName="username" placeholder="Unesite korisničko ime">
      </div>

      <div class="form-group">
        <label for="password">Lozinka</label>
        <input type="password" id="password" formControlName="password" placeholder="Unesite lozinku">
      </div>

      <div class="form-buttons">
        <button type="submit" class="button" [disabled]="loginForm.invalid">Prijavi se</button>
      </div>

      <p class="register-link">
        <a routerLink="/register">Registrujte se ovde!</a>
      </p>
    </form>


  </div>
</div>
