<!-- NAVIGACIJA ZA ADMINA / RADNIKA -->
<div class="navbar" *ngIf="userService.getUserStatus() == 'admin'">
  <ul>
    <div class="nav-links">
      <li class="dropdown">
        <a routerLink="/cars">Vozila</a>
        <ul class="submenu">
          <li><a routerLink="/cars/add">Dodaj Vozilo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a routerLink="/rentals">Ugovori</a>
        <ul class="submenu">
          <li><a routerLink="/rentals/add">Kreiraj Ugovor</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a routerLink="/clients">Klijenti</a>
        <ul class="submenu">
          <li><a routerLink="/clients/add">Dodaj Klijenta</a></li>
        </ul>
      </li>
      <li><a routerLink="/rentals/requests">Zahtevi</a></li>
    </div>
    <div class="logout-section">
      <a routerLink="/login" (click)="logout()">Odjava</a>
    </div>
  </ul>
</div>

<!-- NAVIGACIJA ZA ULOGOVANOG KLIJENTA -->
<div class="navbar" *ngIf="clientService.getUserStatus() == 'user'">
  <ul>
    <div class="nav-links">
      <li><a routerLink="/cars">Ponuda Vozila</a></li>
      <li><a routerLink="/rentals/requests">Moji Zahtevi</a></li>
    </div>
    <div class="logout-section">
      <a routerLink="/login" (click)="logout()">Odjava</a>
    </div>
  </ul>
</div>

<!-- NAVIGACIJA ZA NEULOGOVANOG KORISNIKA -->
<div class="navbar" *ngIf="userService.getUserStatus() != 'admin' && clientService.getUserStatus() != 'user'">
  <ul>
    <div class="nav-links">
      <li><a routerLink="/cars">Ponuda Vozila</a></li>
    </div>
    <div class="login-section" >
      <a  routerLink="/login">Prijava</a>
      <a routerLink="/register">Registracija</a>
      <a routerLink="/login-admin">Prijava za radnike</a>
    </div>
  </ul>
</div>

<!-- Sadržaj stranice se učitava ovde -->
<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>
