/* Stilovi za Login komponente */
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Da zauzme ceo ekran */
  background-image: url("../../../../public/register.png"); /* Tvoja pozadinska slika */
  background-size: cover;
  background-position: center;
}

.login-container {
  width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9); /* Blago prozirna bela pozadina */
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: #194493;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: 600;
  color: #0e1a35;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

a {
  display: block;
  margin-top: 20px;
  color: #184fa1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
