<div class="form-page-container">
  <h1>Dodaj Novog Klijenta</h1>

  <form [formGroup]="newClientForm" (ngSubmit)="addClient()">
    <div class="form-grid">
      <div class="form-column">
        <label for="jmbg">JMBG:</label>
        <input type="text" id="jmbg" formControlName="jmbg" placeholder="Unesite JMBG" />

        <label for="name">Ime:</label>
        <input type="text" id="name" formControlName="name" placeholder="Unesite ime" />

        <label for="surname">Prezime:</label>
        <input type="text" id="surname" formControlName="surname" placeholder="Unesite prezime" />

        <label for="username">Korisničko ime:</label>
        <input type="text" id="username" formControlName="username" placeholder="Unesite korisničko ime" />
      </div>

      <div class="form-column">
        <label for="age">Godište:</label>
        <input type="text" id="age" formControlName="age" placeholder="Unesite godište" />

        <label for="mobile">Telefon:</label>
        <input type="text" id="mobile" formControlName="mobile" placeholder="Unesite broj telefona" />

        <label for="city">Grad:</label>
        <select id="city" formControlName="city">
          <option [ngValue]="null" disabled>Izaberite grad</option>
          <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
        </select>

        <label for="password">Lozinka:</label>
        <input type="password" id="password" formControlName="password" placeholder="Unesite lozinku" />
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="button" [disabled]="newClientForm.invalid">Dodaj Klijenta</button>
    </div>
  </form>
</div>
