/* --- Stil za listu kartica --- */

/* Kontejner koji će ograničiti širinu na velikim ekranima */
.content-container {
  width:  100%;
  max-width: 1200px; /* Maksimalna širina. Kartice se neće širiti više od ovoga. */
  margin: 0 auto; /* Centriranje kontejnera na stranici */
  padding: 2rem;
}



.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  max-width: 400px;
}

/*
  NAJVAŽNIJI DEO - GRID RASPORED
  Koristimo CSS Grid jer je moderniji i moćniji od Flexbox-a za ovakve stvari.
*/
.card-grid {
  display: grid;
  /* Kreira kolone koje su minimalno 300px, a maksimalno 1fr (jedan deo slobodnog prostora).
     auto-fill će automatski dodati onoliko kolona koliko stane. */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem; /* Razmak između kartica */
}
