<div class="modal-backdrop">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <h2 class="price-title">Ukupna cena za {{ numberOfDays }} {{ numberOfDays === 1 ? 'dan' : 'dana' }}:
      <span class="total-price">{{ totalPrice.toFixed(2) }}€</span>
    </h2>

    <div class="car-details">
      <h3>Detalji Vozila:</h3>
      <p><strong>Vozilo:</strong> {{ car.carModel.make }} {{ car.carModel.name }}</p>
      <p><strong>Registarska oznaka:</strong> {{ car.licensePlate }}</p>
    </div>

    <div class="terms-text">
      <p>Cene mogu varirati u zavisnosti od sezone, putovanja u inostranstvo
        ili ako dnevna kilometraža premaši 200 km. Određeni modeli vozila nisu zagarantovani
        i mogu biti zamenjeni sličnim vozilom. Naknada od 10 € se naplaćuje za preuzimanje i vraćanje vozila između
        23:00 i 06:00 časova. Ukoliko je nakon vraćanja vozila potrebno dubinsko čišćenje, naplaćuje se naknada od 80 €.</p>
    </div>

    <div class="modal-buttons">
      <button type="button" class="button confirm-button" (click)="confirm()">Potvrdi rezervaciju</button>
      <button type="button" class="button-secondary" (click)="cancel()">Odustani</button>
    </div>

  </div>
</div>
