<!-- Prikaz za ADMINA -->
<div class="page-container" *ngIf="userService.getUserStatus() === 'admin'">
  <div class="content-container">
    <h1>Zahtevi za Iznajmljivanje</h1>

    <div *ngIf="!pendingRentals || pendingRentals.length === 0" class="no-items-message">
      Trenutno nema novih zahteva.
    </div>

    <div class="card-grid" *ngIf="pendingRentals && pendingRentals.length > 0">
      <app-rental-card
        *ngFor="let r of pendingRentals"
        [rental]="r"
        [viewContext]="'admin-requests'"

        (declinedRental)="decline(r)"
        (acceptedRental)="accept(r)"
      ></app-rental-card>
    </div>
  </div>
</div>

<!-- Prikaz za KLIJENTA -->
<div class="page-container" *ngIf="clientService.getUserStatus() == 'user'">
  <div class="content-container">
    <h1>Moji Zahtevi</h1>

    <div *ngIf="!clientSpecificRentals || clientSpecificRentals.length === 0" class="no-items-message">
      Nemate poslatih zahteva.
    </div>

    <div class="card-grid" *ngIf="clientSpecificRentals && clientSpecificRentals.length > 0">
      <app-rental-card
        *ngFor="let r of clientSpecificRentals"
        [rental]="r"
        [viewContext]="'client-requests'"
      ></app-rental-card>
    </div>
  </div>
</div>
