<div class="card-container">
  <div class="info-section">
    <h4><b>Datum Početka: </b>{{ pipe.transform(rental.startDate, "dd.MM.yyyy.") }}</h4>
    <h4><b>Datum Završetka: </b>{{ pipe.transform(rental.endDate, "dd.MM.yyyy.") }}</h4>
    <h4><b>Klijent: </b>{{ rental.client.name }} {{ rental.client.surname }}</h4>
    <h4><b>Vozilo: </b>{{ rental.car.carModel.name }} ({{ rental.car.licensePlate }})</h4>
    <p><b>Napomene:</b> {{ rental.notes }}</p>

    <!-- Prikaz statusa i dugmadi -->
    <div class="status-section">
      <h4>
        Status:
        <span *ngIf="rental.status == 0" class="onHold">Na čekanju</span>
        <span *ngIf="rental.status == 1" class="confirmed">Potvrđeno</span>
        <span *ngIf="rental.status == 2" class="declined">Odbijeno</span>
      </h4>

      <!-- Dugmad za ADMINA na listi POTVRĐENIH -->
      <div class="action-buttons" *ngIf="viewContext === 'admin-list'">
        <button (click)="delete()" class="button">Obriši Ugovor</button>
      </div>

      <!-- Dugmad za ADMINA na listi ZAHTEVA -->
      <div class="action-buttons" *ngIf="viewContext === 'admin-requests'">
        <button (click)="confirm()" class="button">Prihvati</button>
        <button (click)="decline()" class="button">Odbij</button>
      </div>
    </div>
  </div>
</div>
