<div class="rental-form-page">
  <h1>Create a Rental</h1>

  <form [formGroup]="newRentalForm" (ngSubmit)="addRental()">
    <input type="hidden" [formControlName]="'rentalId'" />

    <div class="form-grid">
      <div class="form-column">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" [formControlName]="'startDate'" />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" [formControlName]="'endDate'" />

        <label for="notes">Notes:</label>
        <textarea
          id="notes"
          [formControlName]="'notes'"
          placeholder="Enter notes"
        ></textarea>
      </div>

      <div class="form-column">
        <label for="client">Client:</label>
        <select id="client" [formControlName]="'client'">
          <option *ngFor="let client of clients" [value]="client.jmbg">
            {{ client.name }} {{ client.surname }}
          </option>
        </select>

        <label for="car">Car:</label>
        <select id="car" [formControlName]="'car'">
          <option *ngFor="let car of cars" [value]="car.id">
            {{ car.carModel.name }} {{ car.licensePlate }} - {{ car.year }}
          </option>
        </select>
      </div>
    </div>

    <div class="buttons">
      <input type="submit" value="Create" class="button" />
    </div>
  </form>
</div>
