<div class="page-container">
  <div class="page-header">
    <h1>Potvrđeni Ugovori</h1>
    <button *ngIf="userService.getUserStatus() === 'admin'" routerLink="/rentals/add" class="button add-button">
      + Kreiraj Novi Ugovor
    </button>
  </div>
  <div *ngIf="!rentals || rentals.length === 0" class="no-items-message">
    Nema potvrđenih iznajmljivanja.
  </div>

  <div class="card-grid" *ngIf="rentals && rentals.length > 0">
    <app-rental-card
      *ngFor="let r of rentals"
      [rental]="r"
      [viewContext]="'admin-list'"
      (removedRental)="delete(r)"
    ></app-rental-card>
  </div>
</div>
